@model IEnumerable<GummiBearKingdom.Models.Gummi>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Gummis</h1>

<p style="text-align:center">Here's a list of our incredible Gummis!
<br>Click a Gummi to view its details!<br>Browse them and enjoy!</p>
    <table class="table">
        <tr>
            <th> @Html.DisplayNameFor(model => model.Name) </th>
            <th> @Html.DisplayNameFor(model => model.Price) </th>
            <th> @Html.DisplayNameFor(model => model.Description) </th>
            <th> Options </th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td><a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a></td>
            <td>$@Html.DisplayFor(modelItem => item.Price)</td>
            <td>@Html.DisplayFor(modelItem => item.Description)</td>
            <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </table>
<p class="smlLink">
    <a asp-action="Create">Create a new Gummi</a>
</p>

